body {
 font-family: "Open Sans";
 font-size: 15px;
 line-height: 1.5;
 display: block;
 margin: 0;
}
* {
   box-sizing: inherit; 
}
.top { 
 top: 0%;
}  
.top {
 width: 100%;
 position: fixed;
 z-index: 1;
}
.white {
 color:black;
 background-color:white;
 } 
.padding {
 padding: 8px 16px!important;
 }
.bar {
 width: 100%;
 overflow: hidden;
}
.card{
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bar-item{
 padding: 8px 16px;
 float: left;
 width: auto;
 border: none;
 display: block;
 outline: 0;
}
.button {
 vertical-align: middle;
 overflow: hidden;
 text-decoration: none;
 text-align: center;
 cursor: pointer;
}
.right{
 float: right;
}
@media screen and (max-width:520px) {
.top{
 width:calc(50% - 20px);
 width:100%;
 .right{
 display: none;  
  }      
 }
}
.display-container { 
 position: relative;
}
.wide {
 letter-spacing: 4px;
}
.w3-img{
 max-width:100%;
 height: auto;
}
img{
 vertical-align: middle;
 border-style: none;
}
.display-bottomleft {
 position: absolute;
 left: 0;
 bottom: 0;
}
.padding-large {
 padding:12px 24px!important;
}
.opacity {
 opacity:0.60;
}
.centerr{
    margin-left:  auto;
    margin-right: auto;
}
.padding-64 {
    padding-top:64px!important;
    padding-bottom:64px!important;
}
.row {
 clear: both;
 display: table;
 content: " ";
}
@media screen and(max-width:540px){
  .col .m6 {
    width: 49.99%;
  }      
}
 .m6 {
    width:49.99%;
 }
/* .padding-large {
    padding: 12px 24px!important;
} */
.col {
    float: left;
    box-sizing: inherit;
}
.round {
    border-radius:4px;
}
.image{
    max-width:100%;
    height: auto;
}
.opacity-main {
    opacity:0.75;
}
.center{
    text-align: center!important;
}
h1,h2,h3,h4,h5,h6{
    font-family:Playfair Display;
    letter-spacing: 5px;
    font-weight:400;
    margin:10px 0;
}
.light-grey {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.tag{
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align: center;  
}
.text-gray {
   color: #757575!important; 
}
.large {
 font-size: 18px!important;
 
}
.hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
h4 {
    font-size:20px;
}
/* .padding-large {
    padding: 12px 24px!important;
} */
/* @media screen and (max-width:540px){
   .col .l6 {
    width:49.99;
   } 
   
} */